<!DOCTYPE html>
<html>
<head>
  <title>Auraify - Pre-Alpha</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="loading" style="display: none;">
    <p>Loading...</p>
  </div>
  <div id="content">
    <h1>auraify (pre-alpha)</h1>
    <ul id="playlists">
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $.getJSON('/get_playlists', function(data) {
        $.each(data, function(i, playlist) {
            var img = $('<img />', {
                src: '/get_playlist_image/' + playlist['id'],
                alt: playlist['name'] + ' image'
            });
            var listItem = $('<li></li>');
            listItem.append('<h3>' + playlist['name'] + '</h3><p>Tempo: ' + playlist['tempo'] + ' BPM</p><p>Mood: ' + playlist['mood'] + '</p>');
            listItem.append(img);
            $('#playlists').append(listItem);
        });
        $('#loading').hide();
        $('#content').show();
    });
  </script>
</body>
</html>
